.DS_Store
SurfShackMobile/.DS_Store

pods/
Podfile.lock
SurfShackMobile.xcodeproj/xcuserdata/Dshack.xcuserdatad/*
SurfShackMobile.xcodeproj/xcuserdata/
SurfShackMobile.xcworkspace/xcuserdata/*
SurfShackMobile.xcodeproj/project.xcworkspace/xcuserdata/
SurfShackMobile.xcodeproj/xcuserdata/Dshack.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
